static-analysis/node_modules
static-analysis/package-lock.json

app-reverse-engineering/package-lock.json
app-reverse-engineering/node_modules

prediction/node_modules
prediction/package-lock.json

privacy-policy-analysis/node_modules
privacy-policy-analysis/package-lock.json